@page "/"

<h1>Polaris One</h1>
<small>An application that helps you get things done.</small>
<h2>Strategies</h2>
<p>Strategies are a things that you want to achieve with actions that you commited to do for a set amount of time.</p>
<h2>Tactics</h2>
<p>Tactics are things that you have commited to do on a time slot that you wanted. Think of tasks on a to do list, but with an intent behind it.</p>
<h2>Check</h2>
<p>Checks are status reports that occur at specific intervals that relate to a specific tactic</p>
